[submodule "MLX42"]
	path = MLX42
	url = https://github.com/codam-coding-college/MLX42.git
[submodule "libft"]
	path = libft
	url = https://github.com/rodalcham/libft.git
[submodule "MLibft"]
	path = MLibft
	url = https://github.com/rodalcham/MLibft.git
[submodule "2DPlane"]
	path = 2DPlane
	url = https://github.com/rodalcham/2DPlane.git
